.search-bar{
    width: 50%;
    margin: 30px auto;
    text-align: center;
}

.title {
    float: left;
    text-align: center;
    color: rgba(250, 20, 20, 1);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    font-family: Gothic A1;
}

.api {
    color: rgba(80, 10, 10, 1);
    text-shadow: 1px 1px 1px rgba(250, 20, 20, 1) !important;
}

.input-search {
    box-shadow: 0px 1px 1px rgba(250, 0, 0, 0.075);
    border-color:  rgba(170, 0, 0, 0.45) !important;
}

.video-title {
    font-size: 13px;
    margin: 1em auto;
    color: grey;
}